@font-face {
  font-family: "BricolageGrotesque";
  src: url("../fonts/woff2/BricolageGrotesque12ptCondensed-Regular.woff2") format("woff")
}

@font-face {
  font-family: "Fira";
  src: url("../fonts/woff2/FiraSans-Regular.woff2") format("woff")
}

html {
  font-family: Fira;
  font-family: BricolageGrotesque;
  font-size: 1.2em;
  line-height: 1.2em;
  flex-direction: row;
}

.container {
  display: block;
  margin:0 auto;
  max-width: 90%;
}

.index {
  width: 90%;
  height: 90%;
}
