/* @clr: #f60;
@backgroundcolor: #c5c5c5; */

/* @desktop: ~"only screen and (min-width: 992px)"; */

@font-face {
  font-family: "BricolageGrotesque";
  src: url("./fonts/woff2/BricolageGrotesque12ptCondensed-Regular.woff2") format("woff")
}

@font-face {
  font-family: "Fira";
  src: url("./fonts/woff2/FiraMono-Regular.woff2") format("woff")
}

html,
body {
  height: 575vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #FFF;
  background-image: url("../assets/images/ilustracion_sitiohermes.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

a {
  text-decoration: none;
  color: tomato;
}

.title {
  font-family: 'BricolageGrotesque';
  font-size: 2.8em;
  font-weight: bold;
}

.body {
  font-family: 'Fira';
  font-size: 1.5em;
  line-height: 1.4em;
  flex-direction: row;
}

.logo {
  display: flex;

  a {
    margin: 0 auto;

    img {
      width: 420px;
    }
  }
}

.why {

  display: flex;
  flex-direction: column;
  padding: 7% 0% 0% 5%;
  height: 11%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.how {
  display: flex;
  flex-direction: column;
  padding: 7% 0% 0% 5%;
  height: 11%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.secure {
  display: flex;
  flex-direction: column;
  padding: 7% 0% 0% 5%;
  height: 6%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.monitoring {
  display: flex;
  flex-direction: column;
  padding: 7% 5% 0% 0%;
  height: 11%;
  align-items: end;
  /* border: solid rebeccapurple 20px; */

  .title {
    text-align: right;
  }

  .body {
    width: 45%;
    text-align: right;
  }
}

.opensource {
  display: flex;
  flex-direction: column;
  padding: 7% 0% 0% 5%;
  height: 5%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 50%;
  }
}

.software {
  display: flex;
  flex-direction: column;
  padding: 8% 0% 0% 5%;
  height: 5%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 50%;
  }
}

.hardware {
  display: flex;
  flex-direction: column;
  padding: 0% 0% 0% 5%;
  height: 7%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 50%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 7% 0% 0% 5%;
  height: 12%;
  /* border: solid rebeccapurple 20px; */

  .title {
    text-align: center;
  }

  .body {
    width: 30%;
    text-align: center;
    margin: auto;
  }
}

/* Extra Small devices (mobile, 320px and up) */
@media only screen and (min-width:319px) {

  html,
  body {
    height: 138vh;
  }

  ul>li {
    line-height: 1em;
  }

  .logo a img {
    width: 105px;
  }

  .title {
    font-size: 0.5em;
  }

  .body {
    font-size: 0.4em;
    line-height: 1.4em;
    font-family: 'Arial';
  }

  .why {
    height: 11.5%;
  }

  .how {
    height: 10%;
  }

  .secure {
    height: 7%;
  }

  .monitoring {
    height: 8%;
  }

  .opensource {
    height: 4%;
  }

  .hardware {
    height: 4.5%;
  }

  .software {
    height: 6%;
  }

  .contact {
    height: 9%;
  }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width:768px) {

  html,
  body {
    height: 255vh;
  }

  .logo a img {
    width: 300px;
  }

  .title {
    font-size: 1.4em;
  }

  .body {
    font-size: 0.9em;
    line-height: 1em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  html,
  body {
    height: 330vh;
  }

  .logo a img {
    width: 300px;
  }

  .title {
    font-size: 1.6em;
  }

  .body {
    font-size: 0.9em;
    line-height: 1em;
  }

  .why {
    height: 11%;
  }

  .how {
    height: 11%;
  }

  .secure {
    height: 6%;
  }

  .monitoring {
    height: 12%;
  }

  .opensource {
    height: 6%;
  }

  .hardware {
    height: 5%;
  }

  .software {
    height: 10%;
  }

  .contact {
    height: 10%;
  }
}

/* Large Devices ----------- */
@media only screen and (min-width : 1200px) {

  html,
  body {
    height: 575vh;
  }

  .logo a img {
    width: 400px;
  }

  .title {
    font-size: 1.9em;
  }

  .body {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .why {
    height: 12%;
  }

  .how {
    height: 11%;
  }

  .secure {
    height: 6%;
  }

  .monitoring {
    height: 11%;
  }

  .opensource {
    height: 6%;
  }

  .hardware {
    height: 5%;
  }

  .software {
    height: 10%;
  }

  .contact {
    height: 11%;
  }
}

/* Extra Large devices (large desktops, 1800px and up) */
@media (min-width: 1800px) {

  html,
  body {
    height: 595vh;
  }

  .logo a img {
    width: 550px;
  }

  .title {
    font-size: 2.4em;
  }

  .body {
    font-size: 1.6em;
    line-height: 1.5;
  }

  .why {
    height: 11%;
  }

  .how {
    height: 11%;
  }

  .secure {
    height: 6%;
  }

  .monitoring {
    height: 11%;
  }

  .opensource {
    height: 4.5%;
  }

  .hardware {
    height: 5%;
  }

  .software {
    height: 8%;
  }

  .contact {
    height: 11%;
  }
}