/* @clr: #f60;
@backgroundcolor: #c5c5c5; */

/* @desktop: ~"only screen and (min-width: 992px)"; */

@font-face {
  font-family: "BricolageGrotesque";
  src: url("./fonts/woff2/BricolageGrotesque12ptCondensed-Regular.woff2") format("woff")
}

@font-face {
  font-family: "Fira";
  src: url("./fonts/woff2/FiraMono-Regular.woff2") format("woff")
}

html,
body {
  height: 500vh;

  /* margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column; */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #FFF;
  background-image: url("../assets/images/ilustracion_sitiohermes.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  background-position: center;
}

a {
  text-decoration: none;
  color: tomato;
}

.title {
  font-family: 'BricolageGrotesque';
  font-size: 2em;
  font-weight: bold;
}

.body {
  font-family: 'Fira';
  font-size: 1.2em;
  line-height: 1.2em;
  flex-direction: row;
}

.logo {
  display: flex;
}

.logo a {
  margin: 0 auto;
}

.logo a img {
  width: 60vh;
}

.why {

  display: flex;
  flex-direction: column;
  padding: 5% 0% 0% 9%;

  .body {
    width: 40%;
  }
}

.how {
  display: flex;
  flex-direction: column;
  padding: 25% 0% 0% 9%;

  .body {
    width: 40%;
  }
}

.secure {
  display: flex;
  flex-direction: column;
  padding: 25% 0% 0% 9%;

  .body {
    width: 40%;
  }
}

.monitoring {
  display: flex;
  flex-direction: column;
  padding: 10% 11% 0% 0%;
  align-items: end;

  .title {
    text-align: right;
  }

  .body {
    width: 40%;
    text-align: right;
  }
}

.opensource {
  display: flex;
  flex-direction: column;
  padding: 25% 0% 0% 9%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.hardware {
  display: flex;
  flex-direction: column;
  padding: 3% 0% 0% 9%;

  .body {
    width: 40%;
  }
}

.software {
  display: flex;
  flex-direction: column;
  padding: 2% 0% 0% 9%;

  .body {
    width: 40%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 3% 0% 0% 0%;

  .title {
    text-align: center;
  }

  .body {
    width: 25%;
    text-align: center;
    margin: auto;
  }
}

/* Extra Small devices (mobile, 320px and up) */
@media only screen and (min-width:319px) {

  html,
  body {
    height: 115vh;
  }

  ul>li {
    line-height: 2em;
    margin-left: -25px;
  }

  .logo a img {
    width: 130px;
  }

  .title {
    font-size: 0.3em;
  }

  .body {
    font-size: 0.2em;
    line-height: 2em;
    font-family: 'Arial';
  }

  .why {
    padding: 4% 0% 0% 7%;
  }

  .how {
    padding: 7% 0% 0% 7%;
  }

  .secure {
    padding: 25% 0% 0% 7%;
  }

  .monitoring {
    padding: 13% 7% 0% 0%;
  }

  .opensource {
    padding: 26% 0% 0% 7%;
  }

  .hardware {
    padding: 2% 0% 0% 7%;
  }

  .software {
    padding: 2% 0% 0% 7%;
  }

  .contact {
    padding: 3% 0% 0% 0%;
  }
}

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width:768px) {
  html,
  body {
    height: 175vh;
  }

  ul>li {
    line-height: 1em;
    margin-left: -25px;
  }

  .logo a img {
    width: 230px;
  }
    
  .title {
    font-size: 1.1em;
  }

  .body {
    font-size: 0.7em;
    line-height: 1em;
  }

  .why {
    padding: 4% 0% 0% 7%;
  }

  .how {
    padding: 7% 0% 0% 7%;
  }

  .secure {
    padding: 25% 0% 0% 7%;
  }

  .monitoring {
    padding: 13% 9% 0% 0%;
  }

  .opensource {
    padding: 22% 0% 0% 7%;
  }

  .hardware {
    padding: 2% 0% 0% 7%;
  }

  .software {
    padding: 2% 0% 0% 7%;
  }

  .contact {
    padding: 3% 0% 0% 0%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html,
  body {
    height: 245vh;
  }

  ul>li {
    line-height: 1em;
    margin-left: -25px;
  }

  .logo a img {
    width: 320px;
  }

  .title {
    font-size: 1.6em;
  }

  .body {
    font-size: 0.9em;
    line-height: 1em;
  }

  .why {
    padding: 5% 0% 0% 5%;
  }

  .how {
    padding: 27% 0% 0% 5%;
  }

  .secure {
    padding: 26% 0% 0% 5%;
  }

  .monitoring {
    padding: 13% 6% 0% 0%;
  }

  .opensource {
    padding: 30% 0% 0% 5%;
  }

  .hardware {
    padding: 2% 0% 0% 5%;
  }

  .software {
    padding: 2% 0% 0% 5%;
  }

  .contact {
    padding: 5% 0% 0% 0%;
  }
}

/* Large Devices ----------- */
@media only screen and (min-width : 1200px) {
  html,
  body {
    height: 300vh;
  }

  ul>li {
    line-height: 1em;
    margin-left: -25px;
  }

  .logo a img {
    width: 380px;
  }

  .title {
    font-size: 1.9em;
  }

  .body {
    font-size: 1.1em;
    line-height: 1.2em;
  }

  .why {
    padding: 5% 0% 0% 5%;
  }

  .how {
    padding: 27% 0% 0% 5%;
  }

  .secure {
    padding: 26% 0% 0% 5%;
  }

  .monitoring {
    padding: 13% 6% 0% 0%;
  }

  .opensource {
    padding: 25% 0% 0% 5%;
  }

  .hardware {
    padding: 2% 0% 0% 5%;
  }

  .software {
    padding: 2% 0% 0% 5%;
  }

  .contact {
    padding: 5% 0% 0% 0%;
  }
}

/* Extra Large devices (large desktops, 1800px and up) */
@media (min-width: 1800px) {

  html,
  body {
    height: 550vh;
  }

  ul>li {
    line-height: 1em;
    margin-left: -25px;
  }

  .logo a img {
    width: 550px;
  }

  .title {
    font-size: 2.4em;
  }

  .body {
    font-size: 1.6em;
    line-height: 1.5;
  }

  .why {
    padding: 7% 0% 0% 5%;
  }

  .how {
    padding: 27% 0% 0% 5%;
  }

  .secure {
    padding: 26% 0% 0% 5%;
  }

  .monitoring {
    padding: 13% 6% 0% 0%;
  }

  .opensource {
    padding: 28% 0% 0% 5%;
  }

  .hardware {
    padding: 2% 0% 0% 5%;
  }

  .software {
    padding: 2% 0% 0% 5%;
  }

  .contact {
    padding: 10% 0% 0% 0%;
  }
}