/* @clr: #f60;
@backgroundcolor: #c5c5c5; */

/* @desktop: ~"only screen and (min-width: 992px)"; */

@font-face {
  font-family: "BricolageGrotesque";
  src: url("./fonts/woff2/BricolageGrotesque12ptCondensed-Regular.woff2") format("WOFF2"),
}

@font-face {
  font-family: "Fira";
  src: url("./fonts/woff2/FiraMono-Regular.woff2") format("WOFF2"),
}



html,
body {
  height: 575vh;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-color: #FFF;
  background-image: url("/assets/images/ilustracion_sitiohermes.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
}

.title{
  font-family: 'BricolageGrotesque';
  font-size: 2.8em;
  font-weight: bold;
}

.body {
  font-family: 'Fira';
  font-size: 1.5em;
  line-height: 1.4em;
  flex-direction: row;
}

.logo {
  display: flex;

  a {
    margin: 0 auto;

    img {
      width: 400px;
    }
  }
}

.why {

  display: flex;
  flex-direction: column;
  padding: 7% 1% 1% 5%;
  height: 11%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.how {

  display: flex;
  flex-direction: column;
  padding: 8% 1% 1% 5%;
  height: 11%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.secure {
  display: flex;
  flex-direction: column;
  padding: 9% 1% 1% 5%;
  height: 6%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 40%;
  }
}

.monitoring {
  display: flex;
  flex-direction: column;
  padding: 10% 5% 1% 1%;
  height: 11%;
  align-items: end;
  /* border: solid rebeccapurple 20px; */

  .title {
    text-align: right;
  }

  .body {
    width: 45%;
    text-align: right;
  }
}


.opensource {
  display: flex;
  flex-direction: column;
  padding: 5% 1% 1% 5%;
  height: 6%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 50%;
  }
}

.software {
  display: flex;
  flex-direction: column;
  padding: 5% 1% 1% 5%;
  height: 9%;
  /* border: solid rebeccapurple 20px; */

  .body {
    width: 50%;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 7% 1% 1% 1%;
  height: 12%;
  /* border: solid rebeccapurple 20px; */

  .title {
    text-align: center;
  }

  .body {
    width: 30%;
    text-align: center;
    margin: auto;
  }
}


@media only screen and (min-width: 1800px) {
  .logo a img {
        width: 600px;
  } 
}




